<div class="container py-5 w-50 container-padding">

  <h2>Editar perfil</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%# <%= f.input :email, required: true, autofocus: true %>

      <%= f.input :first_name, label: "Nombres",
      required: true,
      input_html: { autocomplete: "first_name" } %>
      <%= f.input :last_name, label: "Apellidos",
      required: true,
      input_html: { autocomplete: "last_name" } %>
      <%= f.input :phone_number, label: "Número telefónico",
      required: true,
      input_html: { autocomplete: "phone_number" } %>
      <%= f.input :city, label: "Ciudad",
      required: true,
      input_html: { autocomplete: "city" } %>
      <%= f.input :photo, label: "Foto de perfil", as: :file %>

      <%= f.input :business_name, label: "Nombre comercial",
      input_html: { autocomplete: "business_name" } %>

      <%= f.input :ruc, label: "RUC",
      input_html: { autocomplete: "ruc" } %>

      <!-- <%= f.input :email, required: true, autofocus: true, input_html: { disable: true } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <input type="text" id="lname" name="lname" disabled> -->

      <%= f.input :password, label: "Nueva contraseña",
                  hint: "Deja el espacio en blanco si no deseas cambiarla",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label: "Confirmar nueva contraseña",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password, label: "Contraseña actual",
                  hint: "Necesitamos tu contraseña actual para confirmar los cambios",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Actualizar", class:"btn btn-outline-dark" %>
    </div>
  <% end %>


  <div class="d-flex align-items-center py-3">
    <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class:"btn btn-outline-dark" %>
  </div>


  <%= link_to "Regresar", :back, class:"btn btn-outline-dark" %>

</div>
