<div class="container-order-main py-5">
  <div class="container py-5">
    <div class="d-flex justify-content-around p-5">
      <div class="contenedor-new-order p-5">
      <h1 class="text-center pt-2 pb-2"><strong> IDENTIFICACION </strong></h1>
        <%= simple_form_for (@order) do |f| %>
          <div class="row py-5">
            <%#= current_user.ruc.empty? %>
            <div class="col-12 col-lg-12 ">
              <%= f.input :first_name, label: "Nombre del cliente", as: :string, required: true, autofocus: true %>
            </div>
            <div class="col-12 col-lg-12 ">
              <%= f.input :email, label: "E-mail", as: :string, required: true %>
            </div>
            <div class="col-12 col-lg-12 ">
              <%= f.input :address, label: "Direccion", as: :string, required: true %>
            </div>
          </div>
          <div class="d-flex justify-content-around pt-2 pb-3">
            <%= f.submit "Enviar", class: "btn btn-ghost" %>
            <%= link_to "Salir", products_path, class: "btn btn-ghost" %>
          </div>
        <% end %>
      </div>

      <div class="contenedor-new-order p-5 mx-3">
        <h1 class="text-center pt-2 pb-2"><strong> MEDIO DE PAGO </strong></h1>
          <div class="row py-5">
            <div class="col-12 col-lg-8 ">
                kdngfldknlkfnsd

            </div>
          </div>
        <div class="d-flex justify-content-around mx-3">
        </div>
      </div>

      <div class="contenedor-new-order p-5">
        <h1 class="text-center pt-2 pb-2"><strong> RESUMEN DE LA COMPRA </strong></h1>
          <div class="row py-5">
            <div class="col-12 col-lg-8 ">

<div>
  <div class="text-justify  py-3">
    Subtotal	<%#=  %> <br>
  </div>
  <div class="text-justify  py-3">
    Envio 10.00 <br>
  </div>
  <div class="text-justify  py-3">
    Total	<%#= Subtotal + 10.00  %> <br>
  </div>
</div>

            </div>
          </div>
        <div class="d-flex justify-content-around pt-2 pb-3">
      
        </div>
      </div>

    </div>
  </div>
</div>
