<div class="container-order-main py-5">
  <div class="container py-5">
    <div class="d-flex justify-content-around p-5">
     
      <div class="contenedor-new-order p-5 mx-3">
        <h1 class="text-center pt-2 pb-2"><strong> MEDIO DE PAGO </strong></h1>
          <div class="row py-5">

            <div>
              <section>
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Detalle de la cuenta</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col-12 col-lg-12">
                <div class="form-outline">
                  <input type="text" id="form6Example1" class="form-control" />
                  <label class="form-label" for="form6Example1">First name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form6Example2" class="form-control" />
                  <label class="form-label" for="form6Example2">Last name</label>
                </div>
              </div>
            </div>
            <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="text" id="form6Example3" class="form-control" />
              <label class="form-label" for="form6Example3">Company name</label>
            </div>
            <!-- Text input -->
            <div class="form-outline mb-4">
              <input type="text" id="form6Example4" class="form-control" />
              <label class="form-label" for="form6Example4">Address</label>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form6Example5" class="form-control" />
              <label class="form-label" for="form6Example5">Email</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkoutForm1" />
              <label class="form-check-label" for="checkoutForm1">
                La dirección es la misma de mi cuenta
              </label>
            </div>

            <div class="form-check mb-4">
              <input class="form-check-input" type="checkbox" value="" id="checkoutForm2" checked />
              <label class="form-check-label" for="checkoutForm2">
                Guardar información
              </label>
            </div>

            <hr class="my-4" />

            <h5 class="mb-4">Payment</h5>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm3" checked />
              <label class="form-check-label" for="checkoutForm3">
                Credit card
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm4" />
              <label class="form-check-label" for="checkoutForm4">
                Debit card
              </label>
            </div>

            <div class="form-check mb-4">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm5" />
              <label class="form-check-label" for="checkoutForm5">
                Paypal
              </label>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="formNameOnCard" class="form-control" />
                  <label class="form-label" for="formNameOnCard">Name on card</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="formCardNumber" class="form-control" />
                  <label class="form-label" for="formCardNumber"
                    >Credit card number</label
                  >
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-6">
                <div class="form-outline">
                  <input type="text" id="formExpiration" class="form-control" />
                  <label class="form-label" for="formExpiration">Expiración</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-outline">
                  <input type="text" id="formCVV" class="form-control" />
                  <label class="form-label" for="formCVV">CVV</label>
                </div>
              </div>
            </div>

        <%= simple_form_for (@order) do |f| %>
          <div class="row py-5">
          <div class="d-flex justify-content-around pt-2 pb-3">
            <%= f.submit "Enviar", class: "btn btn-ghost" %>
          </div>

        <% end %>
          </form>
        </div>
    </div>


  </div>
</section>


            </div>
          </div>
        <div class="d-flex justify-content-around mx-3">
        </div>
      </div>

      <div class="contenedor-new-order p-5">
        <h1 class="text-center pt-2 pb-2"><strong> RESUMEN DE LA COMPRA </strong></h1>
          <div class="row py-5">
            <div class="col-12 col-lg-8 ">


      <h1 class="text-center pt-2 pb-2"><strong> IDENTIFICACION </strong></h1>
      <h4>
       <%= current_user.first_name  %> <%= current_user.last_name  %>
      </h4>
      <br>
      <h4>
      <%= current_user.address %>
      </h4>



<div>
  <div class="text-justify  py-3">
    Subtotal	<%= number_to_currency(@current_cart.sub_total)  %> <br>
  </div>
  <div class="text-justify  py-3">
    Envio $ 10.00 <br>
  </div>
  <div class="text-justify  py-3">
    Total	<%= number_to_currency(@current_cart.sub_total + 10.00)  %> <br>
  </div>
</div>

            </div>
          </div>
      </div>

    </div>
  </div>
</div>
