
<div class="contenedor-order-main py-5">
  <div class="d-flex justify-content-around py-5">
    <div class="contenedor-new-order py-5">
      <div class="row ">

<div class="col-7">

    <div class="col-10 px-5">

                <div class="mx-3"> <%# Resumen Compra %>
                  <h2 class="text-center pt-2 pb-2"><strong> RESUMEN DE LA COMPRA </strong></h2><br>
                  <h3 class="pt-2 pb-2"> Datos del comprador: </h3>
                  <% if current_user.first_name.nil? && current_user.last_name.nil? %>
                    <h5 class="pt-2 pb-2"> <strong> Nombre:</strong> Falta actualizar datos  </h5>
                  <% else %>
                    <h5 class="text-uppercase px-5"><%= current_user.first_name  %> <%= current_user.last_name  %> </h5>
                  <% end %>
                  <% if current_user.address.nil? %>
                    <h5 class="pt-2 pb-2"> <strong>Direccion:</strong> Falta actualizar datos </h5>
                  <% else %>
                    <h5 class="pt-2 pb-2"> <strong>Direccion:</strong><%= current_user.address %> </h5>
                  <% end %>
                  <h5 class="pt-2 pb-2"> <strong>Email: </strong><%= current_user.email %> </h5><br>
                  <hr class="w-90">
                  <div>
                    <div class="py-3">
                      <h4 class="text-end"> Subtotal	<%= number_to_currency(@current_cart.sub_total) %> </h4>
                    </div>
                    <div class="py-4">
                      <h4 class="text-end">Envio $ 10.00</h4>
                    </div>
                    <hr class="w-90">
                    <div class="py-4">
                      <h3 class="text-end"> Total	<%= number_to_currency(@current_cart.sub_total + 10.00) %></h3> <br>
                    </div>
                  </div>
                </div>

    </div>

</div>

<div class="col-5">

    <div class="col-10 justify-content-around mx-5 ">

                <div> <%# Medio de Pago %>
                  <h2 class="text-center pt-1 pb-4"><strong> MEDIO DE PAGO </strong></h2>
                  <section>
                    <div class="row">
                              <div class="col-12 col-lg-12">
                                <div class="card mb-1">
                                  <div class="card-header py-2 pb-2"> <h5 class="mb-0">Detalle de la cuenta</h5>
                                  </div>
                                  <div class="card-body">
                                    <form>
                                      <!-- 2 column grid layout with text inputs for the first and last names -->
                                      <div class="row mb-1">
                                        <div class="col-12 col-lg-6">
                                          <div class="form-outline py-2">
                                            <input type="text" id="form6Example1" class="form-control" />
                                            <label class="form-label" for="form6Example1">First name</label>
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div class="form-outline py-2">
                                            <input type="text" id="form6Example2" class="form-control" />
                                            <label class="form-label" for="form6Example2">Last name</label>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- Email input -->
                                      <div class="form-outline mb-1">
                                        <input type="email" id="form6Example5" class="form-control" />
                                        <label class="form-label" for="form6Example5">Email</label>
                                      </div>
                                      <hr class="my-1" />
                                      <h5 class="mb-3 pt-3"></h5>
                                      <div class="row mb-1">
                                        <div class="col">
                                          <div class="form-outline">
                                            <input type="text" id="formNameOnCard" class="form-control" />
                                            <label class="form-label" for="formNameOnCard">Name on card</label>
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div class="form-outline">
                                            <input type="text" id="formCardNumber" class="form-control" />
                                            <label class="form-label" for="formCardNumber">Credit card number</label>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row mb-4">
                                        <div class="col-6">
                                          <div class="form-outline">
                                            <input type="text" id="formExpiration" class="form-control" />
                                            <label class="form-label" for="formExpiration">Expiración</label>
                                          </div>
                                        </div>
                                        <div class="col-6">
                                          <div class="form-outline">
                                            <input type="text" id="formCVV" class="form-control" />
                                            <label class="form-label" for="formCVV">CVV</label>
                                          </div>
                                        </div>
                                      </div>
                                      <%= simple_form_for (@order) do |f| %>
                                        <div class="row py-0">
                                          <div class="d-flex justify-content-around pt-1 pb-2">
                                            <%= f.submit "Enviar", class: "btn btn-ghost" %>
                                          </div>
                                      <% end %>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                    </div>
                  </section>
                </div>

    </div>

</div>

</div> <%# col 12 general %>


      </div> <%# row MAIN %>
    </div> <%# container MAIN %>
  </div> <%# container MAIN %>
</div> <%# container MAIN %>
