<div class="container py-5">
  <div class="container py-5">
    <div class="d-flex justify-content-around p-5">
      <div class="contenedor-new p-5">
      <h1 class="text-center pt-2 pb-2"><strong> Finalizar Compra </strong></h1>

        <%= simple_form_for (@order) do |f| %>
          <div class="row py-5">
            <%#= current_user.ruc.empty? %>
            <div class="col-12 col-lg-6 ">
              <%= f.input :first_name, label: "Nombre del cliente", as: :string, required: true, autofocus: true %>
            </div>
            <div class="col-12 col-lg-6 ">
              <%= f.input :email, label: "E-mail", as: :string, required: true %>
            </div>
            <div class="col-12 col-lg-6 ">
              <%= f.input :address, label: "Direccion", as: :string, required: true %>
            </div>
          </div>
          <div class="d-flex justify-content-around pt-2 pb-3">
            <%= f.submit "Enviar", class: "btn btn-ghost" %>
            <%= link_to "Salir", products_path, class: "btn btn-ghost" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
