<div class="container py-3 justify-content-center container-padding">

  <%= form_with url: "products_path", method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "¿Qué producto buscas?"
      %>
      <%= submit_tag "Buscar", class: "btn btn-outline-success" %>
    <% end %>
</div>

<%# BANNER %>

<div class="banner_home" style="background-image: url(https://www.wigan.gov.uk/Images/Council/The-Deal/Go-Green/Go-Green-banner.png);">
</div>

<%# CATEGORIAS %>

<div class="container py-3 text-center">
  <h4 class="fw-bold">CATEGORÍAS</h4>
</div>

<div class="container">
    <div class="d-flex justify-content-between pb-4">

      <div class="text-center">
        <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t39.30808-6/312344380_502515855085887_2994598683289423465_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=QOlEP-6s324AX-E-dkU&_nc_ht=scontent.fmvd1-1.fna&oh=00_AT9BiuV0jwH2yOPkjeSNOI8QDE23tX435JnifVlvWk33oA&oe=6353FA3F" alt="" class="icons">
        <p>Electrónicos</p>
      </div>

      <div class="text-center">
        <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t39.30808-6/312233322_502515925085880_3167328140129854703_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=9o9clpMoRzYAX9is_nY&_nc_ht=scontent.fmvd1-1.fna&oh=00_AT_65cBL5Lg7jSswORo5I0Cfr1vEGD_yfyRe6FBY3O_pPA&oe=6353B470" alt="" class="icons">
        <p>Maquillaje</p>
      </div>

      <div class="text-center">
        <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t39.30808-6/312072267_502515945085878_8312493685039400506_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=ib1iJCndBHkAX8RV7O0&tn=FZVWJLB7kJzMYlJS&_nc_ht=scontent.fmvd1-1.fna&oh=00_AT-aTAF5-DvgpM8tgMPsJeofB8cFRzFnwkhWCfRGTxks8A&oe=6353E9AB" alt="" class="icons">
        <p>Cuidado personal</p>
      </div>

      <div class="text-center">
        <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t39.30808-6/312329325_502515858419220_5944265793013976593_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=ocRS1_9ZZlsAX_73w_J&_nc_ht=scontent.fmvd1-1.fna&oh=00_AT8KIIb043auXy1FT-DQUB3150AMxoGiihKbaiVhvY-NCw&oe=6355018C" alt="" class="icons">
        <p>Abarrotes</p>
      </div>

      <div class="text-center">
        <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t39.30808-6/312341533_502515948419211_2025570545979298243_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=LI0-vj7lChIAX-h2x9V&_nc_ht=scontent.fmvd1-1.fna&oh=00_AT-xiWAsgulkA_-O6agSWoIvFfhR4v6tuVtqcdeyycU6ww&oe=6353DB84" alt="" class="icons">
        <p>Juguetes</p>
      </div>

      <div class="text-center">
        <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t39.30808-6/312322905_502515851752554_733374219258039010_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=Yeq2GFJDMnYAX_9qtyi&tn=FZVWJLB7kJzMYlJS&_nc_ht=scontent.fmvd1-1.fna&oh=00_AT_cH6Ec3CJtr8yojtiImGzgIYegnuSfl7GEkKAfwLLeDA&oe=6353A224" alt="" class="icons">
        <p>Libros</p>
      </div>
  </div>
</div>


<div class="container">
    <div class="d-flex justify-content-center pb-4">
    <%= link_to "VER TODO", products_path, class: "btn btn-ghost" %>
  </div>
</div>

<%# CARDS - LO MÁS VENDIDO %>

<div class="container">
  <div class="pb-3 d-flex">
    <h4>Lo más destacado del mes:</h4>
  </div>


    <div class="product_container">
      <% @products.sample(6).each do |product| %>
      <div class="card-trip rounded py-3">
        <% product.photos.last(1).each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2>S/. <%= product.original_price.round(2) %></h2>
            <h3>S/. <%= product.price.round(2) %></h3>
            <h4><%= product.name.truncate(30) %> </h4>
            <h5>Vencimiento: <%= product.expiration_date %></h5>
          </div>
          <p class="badge rounded-pill text-bg-success h1"> <%= product.discount %>% </p>

        </div>
        <div class="text-center">
          <%= link_to "Agregar", product_path(product), class: "btn btn-ghost" %>
          <%= link_to "Comprar", product_path(product), class: "btn btn-ghost" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  </div>


<div class="container text-center">
      <h5>¿Quieres vender tus productos con nosotros?</h5>
        <%= link_to "¡Sí!", new_product_path, class: "btn btn-ghost" %>
</div>
      <%# Si user tiene Ruc, puede registrar %>
      <% if current_user.ruc.present? %>
        <%= link_to "Registro", new_product_path, class: "btn btn-ghost justify-content-center" %>
      <% end %>

<%# FOOTER %>
<%#
<div class="d-flex justify-content-center">
<div>
      <h5>¿Quieres vender tus productos con nosotros?</h5>
        <%= link_to "¡Sí!", new_product_path, class: "btn btn-ghost" %>
        <%# </div>
</div> %>
