<%# BANNER %>

<div class="banner_home container-padding" style="background-image: url(https://www.wigan.gov.uk/Images/Council/The-Deal/Go-Green/Go-Green-banner.png);">
</div>

<%# CATEGORIAS %>

<div class="container text-center py-4">
  <h4>CATEGORÍAS</h4>
</div>

<div class="container">
    <div class="d-flex justify-content-between pb-4">

      <div class="text-center py-2">
        <%= image_tag "electronics.png", alt:"Electrónicos", class:"icons"%>
        <p>Electrónicos</p>
      </div>

      <div class="text-center py-2">
        <%= image_tag "makeup.png", alt:"Maquillaje", class:"icons"%>
        <p>Maquillaje</p>
      </div>

      <div class="text-center py-2">
        <%= image_tag "personalcare.png", alt:"Personal care", class:"icons"%>
        <p>Cuidado personal</p>
      </div>

      <div class="text-center py-2">
        <%= image_tag "abarrotes.png", alt:"Abarrotes", class:"icons"%>
        <p>Abarrotes</p>
      </div>

      <div class="text-center py-2">
        <%= image_tag "toys.png", alt:"Juguetes", class:"icons"%>
        <p>Juguetes</p>
      </div>

      <div class="text-center py-2">
        <%= image_tag "books.png", alt:"Libros", class:"icons"%>
        <p>Libros</p>
      </div>
    </div>

<%# CARDS - LO MÁS VENDIDO %>

<div class="container">
  <div class="pb-4 text-center">
    <h4>LO MÁS DESTACADO</h4>
  </div>

    <div class="product_container">

      <% @products.sample(6).each do |product| %>
      <div class="card-trip rounded py-3">

<% if product.stock.to_i < 15 %>
          <p> Últimas <%= product.stock %> Unds. </p>
        <% end %>


      <% product.photos.last(1).each do |photo| %>
          <%= link_to product_path(product) do %>
          <div class="text-center"> <%= cl_image_tag photo.key, crop: :pad, class: "imagen"%> </div>
          <% end %>
        <% end %>
        <div class="card-trip-infos">
          <div>
              <h2>S/ <%= product.original_price.to_f.round(2) %></h2>
              <h3>S/ <%= product.price.to_f.round(2) %></h3>
            <h4><%= product.name.truncate(40) %> </h4>

            <% if product.expiration_date.present? %>
              <h5>Vencimiento: <%= product.expiration_date %></h5>
            <% else %>
              <h5><br></h5>
            <% end %>

          </div>
          <h6 class="badge rounded-pill text-bg-success h1"> -<%= product.discount %>% </h6>
        </div>
        <div class="text-center">
          <%= link_to "Agregar", product_path(product), class: "btn btn-ghost" %>
          <%= link_to "Comprar", product_path(product), class: "btn btn-ghost" %>
        </div>
      </div>

      <% end %>
    </div>
  </div>

  </div>

<%# CARDS - LO MÁS VENDIDO %>



<div class="container py-4 text-center">
  <h4>¿Quieres vender tus productos con nosotros?</h4>
    <%= link_to "¡Sí!", new_product_path, class: "btn btn-ghost" %>
</div>
      <%# Si user tiene Ruc, puede registrar %>
      <%# <% if current_user.ruc.present? %>
        <%# <%= link_to "Registro", new_product_path, class: "btn btn-ghost justify-content-center" %>
      <%# <% end %>
