<div class="container container-padding">
  <div class="row">
    <div class="col-6">

<div class="container container-padding py-5">
<h2>Iniciar Sesión</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: "Correo electrónico",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password, label: "Contraseña",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: "recuérdame", as: :boolean if devise_mapping.rememberable? %>
    </div>

<div>
  <div class="row">
      <div class="form-actions">
        <%= f.button :submit, "Ingresar", class:"btn btn-ghost-devise mt-1 w-100" %>
      </div>
    <% end %>
  </div>

<div class="row"></div>
  <%= render "devise/shared/links" %>
  </div>
</div>
    </div>

    <div class="col-6">
      <%= image_tag "inicio.jpeg" %>
    </div>
  </div>
</div>
