<div class="container card-product height=800px">
  <%= simple_form_for (@product) do |f| %>
    <%= f.input :name, label: "Nombre del Producto:", placeholder: "Ingrese el nombre del producto" %>
    <%= f.association :category, label: "Categoria del Producto:", prompt: "Elija una categoría" %>
    <%= f.input :original_price, label: "Precio Real del Producto:", placeholder: "Ingrese el nombre del producto" %>
    <%= f.input :discount, label: "Descuento del Producto:", placeholder: "Ingrese el nombre del producto" %>
    <%= f.input :price, label: "Precio del Producto:", placeholder: "Original price / discount" %>
    <%= f.input :stock, label: "Stock del Producto:", placeholder: "Ingrese Stock del Producto" %>
    <%= f.input :expiration_date, html5: true, label: "Fecha de Expiración del Producto:" %>
    <%= f.input :description, label: "Nombre del Producto:", placeholder: "Descripcion acerca del producto a vender" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %> <br>
    <%= f.submit %>
  <% end %>
</div> <br><br><br>


<div class="grid-container">
  <div class="grid-item d-flex justify-content-around">
    <h1>Editar Producto</h1>
      <div class="d-flex flex-column">
        <%= simple_form_for (@product) do |f| %>
          <%= f.input :name, label: "Nombre del Producto:", placeholder: "Ingrese el nombre del producto" %>
          <%= f.association :category, label: "Categoria del Producto:", prompt: "Elija una categoría" %>
          <%= f.input :original_price, label: "Precio Real del Producto:", placeholder: "Ingrese el nombre del producto" %>
          <%= f.input :discount, label: "Descuento del Producto:", placeholder: "Ingrese el nombre del producto" %>
          <%= f.input :price, label: "Precio del Producto:", placeholder: "Original price / discount" %>
          <%= f.input :price, label: "Stock del Producto:", placeholder: "Ingrese Stock del Producto" %>
          <%= f.input :expiration_date, html5: true, label: "Fecha de Expiración del Producto:" %>
          <%= f.input :description, label: "Nombre del Producto:", placeholder: "Descripcion acerca del producto a vender" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %> <br>
          <%= f.submit %>
        <% end %>
        <%= link_to "Salir", product_path(@product), class: "btn btn-ghost mt-3" %>
      </div>
    </div>
  </div>
  <div class="grid-item">
  </div>
</div>
