<div class="container mt-3 bg-white">
  <div class="container">
    <div>
    <% @products.each do |product| %>
      <div class="card-trip">
        <% product.photos.last(1).each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
        </div>
        <h2 class="card-trip-pricing">S/. <%= product.original_price %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <h2 class="card-trip-pricing">Dsct <%= product.discount %>%</h2>
        <h2 class="card-trip-pricing">S/. <%= product.price %></h2>
      </div>
      <div>
        <%= link_to "AGREGAR", product_path(product.id), class: "btn btn-light"%> <%= link_to "COMPRAR", product_path(product), class: "btn btn-success" %>
      </div>
    </div>
    <% end %>

  </div>
</div>
