<div class="container py-5">
  <div class="container py-5">
    <div class="card-product">
      <% @product.photos.last(1).each do |photo| %>
        <%= cl_image_tag photo.key, crop: :pad %>
      <% end %>
      <div class="card-product-infos pe-5 w-80">
        <h6>
          <% if @product.stock.to_i < 15 %>
            Últimas <%= @product.stock %> Unds.
          <% elsif @product.stock.to_i > 15  %>
            <%= @product.stock %> Unds. Disponibles.
          <% else %>
            Sin Stock.
          <% end %>
        </h6>
        <h1><%= @product.name %></h1>
        <h2><%= @product.description %></h2>
        <h3>Vencimiento: <strong><%= @product.expiration_date %></strong></h3>
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <h4> S/. <%= @product.original_price %></h4>
              <h5> S/. <%= @product.price %> </h5>
            </div>
            <div>
              <p class="badge rounded-pill text-bg-success h1"> -<%= @product.discount %>% </p>
            </div>
          </div>
          <p class="py-3 pb-3"> <span class="badge rounded-pill text-bg-warning">!</span>
            Este producto puede presentar defectos en su presentación,
            sin embargo su calidad y funcionalidad no se ven afectadas.</p>
          <div class="d-flex justify-content-between">
            <% if current_user.id == @product.user_id %>
            <%= link_to "Editar", edit_product_path(@product), class: "btn btn-ghost" %>
            <%= link_to "Delete", product_path(@product), class: "btn btn-ghost",
            data: {turbo_method: :delete, turbo_confirm: "¿Estás seguro de eliminar el producto?"} %>
            <% else %>
            <%= link_to "Agregar", "#", class: "btn btn-ghost" %>
            <%= form_tag line_items_path do %>
            <%= hidden_field_tag 'product_id', @product.id %>
            <%= hidden_field_tag 'current_cart_id', @current_cart.id %>
            <%= submit_tag 'Comprar', class: 'btn btn-ghost' %>
            <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

