<div class="container mt-3 bg-white">
  <div class="container">
    <h3>Zero Waste - <%= @product.category.name %></h3>
    <div class="card-product">
      <% @product.photos.last(1).each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
        <h1><%= @product.name %></h1><br>
          <p><%= @product.description %></p><br>
          <h2 class="card-trip-pricing">S/. <%= @product.original_price %></h2><br>
          <h2 class="card-trip-pricing">Dsct <%= @product.discount %>%</h2><br>
          <h2 class="card-trip-pricing">S/. <%= @product.price %></h2><br>
          <%= form_tag line_items_path do %>
          <%= hidden_field_tag 'product_id', @product.id %>
          <%= submit_tag 'Agregar', class: "btn btn-ghost" %>
          <% end %>

          <%= link_to "Comprar", "#", class: "btn btn-ghost" %>
          <%= link_to "EDITAR", edit_product_path, class: "btn btn-ghost" %>
          <%= link_to "ELIMINAR", root_path, class: "btn btn-ghost" %> <br><br>
          <p>Este producto puede presentar defectos en su presentación, sin embargo su calidad y funcionalidad no se ven afectadas.</p>
      </div>
    </div>
  </div>
</div>
